$global-font-size: 1.25rem;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

@mixin flex($dir, $jtc, $ai) {
	display: flex;
	flex-direction: $dir;
	justify-content: $jtc;
	align-items: $ai;
}
