@use "./base";

.flag {
	border-top-left-radius: 0.75rem;
	border-top-right-radius: 0.75rem;
	margin-bottom: 5px;
	width: 100%;
}

.country-card {
	width: 500px;
}

@media (max-width: base.$screen-md) {
	.country-card {
		width: 300px;
	}
}
