@use "./base";

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.App {
	font-size: base.$global-font-size;
	@include base.flex(column, flex-start, center);
	border-radius: 0px !important;
	min-height: 100vh;
	&__content {
		@include base.flex(column, flex-start, flex-start);
		width: 80%;
	}
}

@media (max-width: base.$screen-md) {
	.App__content {
		width: 95%;
	}
}
